<div class="left-side-bar">
    <div class="brand-logo">
        <a href="index.html">
            <img src="../../assets/vendors/images/deskapp-logo.svg" alt="" class="dark-logo">
            <img src="../../assets/vendors/images/deskapp-logo-white.svg" alt="" class="light-logo">
        </a>
        <div class="close-sidebar" data-toggle="left-sidebar-close">
            <i class="ion-close-round"></i>
        </div>
    </div>
    <div class="menu-block customscroll">
        <div class="sidebar-menu">
            <ul id="accordion-menu">
                
                <li>
                    <a href="/admin_home" class="dropdown-toggle no-arrow">
                        <span class="micon dw dw-calendar1"></span><span class="mtext">Dashboard</span>
                    </a>
                </li>
                <li class="dropdown">
                    <a href="javascript:;" class="dropdown-toggle">
                        <span class="micon dw dw-house-1"></span><span class="mtext">Administrator</span>
                    </a>
                    <ul class="submenu">
                        <li><a href="/admin_home/supAdmin">Super Admin</a></li>
                        <li><a href="/admin_home/admin">Admin</a> |</li>
                       
                    </ul>
                </li>
               
               
                <li class="dropdown">
                    <a href="javascript:;" class="dropdown-toggle">
                        <span class="micon dw dw-house-1"></span><span class="mtext">Subscriber</span>
                    </a>
                    <ul class="submenu">
                        <li><a href="/admin_home/subscriber">Manage Subscriber</a></li>
                        <li><a href="/admin_home/feedbacks">Feedbacks</a> |</li>
                        <li><a href="/admin_home/verification">Verification</a> |</li>
                       
                    </ul>
                </li>
                
                <li>
                    <a href="/admin_home/meeting" class="dropdown-toggle no-arrow">
                        <span class="micon dw dw-calendar1"></span><span class="mtext">Meeting</span>
                    </a>
                </li>
                <li class="dropdown">
                    <a href="javascript:;" class="dropdown-toggle">
                        <span class="micon dw dw-house-1"></span><span class="mtext">Notice</span>
                    </a>
                    <ul class="submenu">
                        <li><a href="/admin_home/meeting">Meeting</a></li>
                        <li><a href="/admin_home/feedbacks">Others</a> |</li>
                        
                       
                    </ul>
                </li>
             
                <li>
                    <a href="/admin_home/financial" class="dropdown-toggle no-arrow">
                        <span class="micon dw dw-calendar1"></span><span class="mtext">Report</span>
                    </a>
                </li>
                
            </ul>
        </div> 
    </div>
</div>
<div class="mobile-menu-overlay"></div>