<div class="header">
    <div class="header-left" display="hidden">
        <div class="menu-icon dw dw-menu"></div>
        <div class="search-toggle-icon dw dw-search2" data-toggle="header_search"></div>
        <div class="header-search">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Search Here"
                    aria-label="Recipient's username" aria-describedby="button-addon2">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button" id="button-addon2"><i class="fa fa-search"></i></button>
                </div>
            </div>
           
        </div>

    </div>

    <div class="header-right">
        <div class="dashboard-setting user-notification">
            <div class="dropdown">
                <a class="dropdown-toggle no-arrow" href="javascript:;" data-toggle="right-sidebar">
                    <i class="dw dw-settings2"></i>
                </a>
            </div>
        </div>
        <div class="user-info-dropdown">
            <div class="dropdown" style="padding-top:-10px" ;>
                <a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown">
                    <span class="user-name"><%=uname%></span>
                </a>
                <div class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list">
                    <a class="dropdown-item" href="/accountingSellsHome/profile"><i class="dw dw-user1"></i> Profile</a>
                    <a class="dropdown-item" href="/logout"><i class="dw dw-logout"></i> Log Out</a>
                </div>
            </div>
        </div>
    </div>
</div>