<%- include('../partials/supAdmin_sidebar')%>



<div class="main-container">
	<div class="pd-ltr-20 xs-pd-20-10">
		<div class="min-height-200px">
			<div class="page-header">
				<div class="row">
					<div class="col-md-6 col-sm-12">
						<div class="title">
							<h4>Edit  Admin</h4>
						</div>
						<nav aria-label="breadcrumb" role="navigation">
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="">Home</a></li>
								<li class="breadcrumb-item active" aria-current="page">Add  Admin</li>
							</ol>
						</nav>
					</div>

				</div>
			</div>



		
			
			

			<div class="pd-20 card-box mb-30">

				<div class="clearfix">
					<h4 class="text-blue h4">Add  Admin </h4>

				</div>


				<form  action=""  method="POST" >
					
					<div class="form-group">
						<label>Name</label>
						<input class="form-control" type="text" name="username" value="<%=username%>" readonly>
					</div>
					
					<div class="form-group">
						<label>Comment</label>
						<input class="form-control" type="text" name="comment" value="<%=comment%>" readonly>
                    </div>
                    <div class="form-group">
						<label>date</label>
						<input class="form-control" type="text" name="date" value="<%=date%>" readonly>
                    </div>
                    <div class="form-group">
						<label>IsSolved</label>
						<input class="form-control" type="text" name="isSolved" value="solved" readonly>
					</div>
					
					<div class="col-md-12 col-sm-12 mb-30">

						<div class="pd-20 card-box height-100-p">
							<div class="btn-list" style="float: right;">
								<!-- <button type="button" class="btn btn-outline-dark">Reset</button> -->
								<button type="submit" class="btn btn-outline-danger">Solved</button>
					

							</div>
						</div>
					</div>
				</form>



			</div>



		</div>
	</div>
</div>