<!-- <!DOCTYPE html>
<html>
<head>
	<title>Create User</title>
</head>
<body>
	<form method="post">
		<fieldset>
			<legend>Create User</legend>
			<table>
				<tr>
					<td>Username</td>
					<td><input type="text" name="username"></td>
				</tr>
				<tr>
					<td>Password</td>
					<td><input type="password" name="password"></td>
				</tr>
				<tr>
					<td>Type</td>
					<td><input type="text" name="type"></td>
				</tr>
				<tr>
					<td></td>
					<td><input type="submit" name="submit" value="Create"></td>
				</tr>
			</table>
		</fieldset>
	</form>
</body>
</html> -->
<%- include('../partials/preloader.ejs')%>
<%- include('../partials/navbar.ejs')%>
<%- include('../partials/sidebar_right.ejs')%>
<%- include('../partials/admin_sidebar')%>


<div class="main-container">
    <div class="pd-ltr-20 xs-pd-20-10">
        <div class="min-height-200px">
            <div class="page-header">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="title">
                            <h4>Subscriber List</h4>
                        </div>
                        <nav aria-label="breadcrumb" role="navigation">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Subscriber List</li>
                            </ol>
                        </nav>
                    </div>

                </div>
            </div>

			<div class="pd-20 card-box mb-30">
				<div class="clearfix">
					<div class="pull-left">
						<h4 class="text-blue h4">Default Basic Forms</h4>
						<p class="mb-30">All bootstrap element classies</p>
					</div>
					<div class="pull-right">
						<a href="#basic-form1" class="btn btn-primary btn-sm scroll-click" rel="content-y"  data-toggle="collapse" role="button"><i class="fa fa-code"></i> Source Code</a>
					</div>
				</div>
				<form>
					<div class="form-group row">
						<label class="col-sm-12 col-md-2 col-form-label">Name</label>
						<div class="col-sm-12 col-md-10">
							<input class="form-control" type="text" placeholder="Johnny Brown">
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-12 col-md-2 col-form-label">Mobile</label>
						<div class="col-sm-12 col-md-10">
							<input class="form-control"  type="number">
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-12 col-md-2 col-form-label">Email</label>
						<div class="col-sm-12 col-md-10">
							<input class="form-control" value="bootstrap@example.com" type="email">
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-12 col-md-2 col-form-label">Gender</label>
						<div class="col-sm-12 col-md-10">
							<select class="custom-select col-12">
								<option selected="">Choose...</option>
								<option value="Male">Male</option>
								<option value="Femal">Femal</option>
								<option value="Others">Others</option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<label><Address></Address></label>
						<textarea class="form-control"></textarea>
					</div>
					<div class="form-group">
						<label>Picture</label>
						<div class="custom-file">
							<input type="file" class="custom-file-input">
							<label class="custom-file-label">Choose file</label>
						</div>
					</div>

				</form>
			</div>

			<div class="pd-20 card-box mb-30">
				<div class="clearfix">
					<h4 class="text-blue h4">Step wizard</h4>
					<p class="mb-30">jQuery Step wizard</p>
				</div>
				<div class="wizard-content">
					<form class="tab-wizard wizard-circle wizard">
						<h5>Personal Info</h5>
						<section>
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<label >First Name :</label>
										<input type="text" class="form-control">
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label >Last Name :</label>
										<input type="text" class="form-control">
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<label>Email Address :</label>
										<input type="email" class="form-control">
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label>Phone Number :</label>
										<input type="text" class="form-control">
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<label>Select City :</label>
										<select class="custom-select form-control">
											<option value="">Select City</option>
											<option value="Amsterdam">India</option>
											<option value="Berlin">UK</option>
											<option value="Frankfurt">US</option>
										</select>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label >Date of Birth :</label>
										<input type="text" class="form-control date-picker" placeholder="Select Date">
									</div>
								</div>
							</div>
						</section>
						<!-- Step 2 -->
						<h5>Job Status</h5>
						<section>
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<label>Job Title :</label>
										<input type="text" class="form-control">
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label>Company Name :</label>
										<input type="text" class="form-control">
									</div>
								</div>
								<div class="col-md-12">
									<div class="form-group">
										<label>Job Description :</label>
										<textarea class="form-control"></textarea>
									</div>
								</div>
							</div>
						</section>
						<!-- Step 3 -->
						<h5>Interview</h5>
						<section>
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<label>Interview For :</label>
										<input type="text" class="form-control">
									</div>
									<div class="form-group">
										<label>Interview Type :</label>
										<select class="form-control">
											<option>Normal</option>
											<option>Difficult</option>
											<option>Hard</option>
										</select>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label>Interview Date :</label>
										<input type="text" class="form-control date-picker" placeholder="Select Date">
									</div>
									<div class="form-group">
										<label>Interview Time :</label>
										<input class="form-control time-picker" placeholder="Select time" type="text">
									</div>
								</div>
							</div>
						</section>
						<!-- Step 4 -->
						<h5>Remark</h5>
						<section>
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<label>Behaviour :</label>
										<input type="text" class="form-control">
									</div>
									<div class="form-group">
										<label>Confidance</label>
										<input type="text" class="form-control">
									</div>
									<div class="form-group">
										<label>Result</label>
										<select class="form-control">
											<option>Select Result</option>
											<option>Selected</option>
											<option>Rejected</option>
										</select>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label>Comments</label>
										<textarea class="form-control"></textarea>
									</div>
								</div>
							</div>
						</section>
					</form>
				</div>
			</div>


            
        </div>
    </div>
</div>