<%- include('../partial/marketheader.ejs')%>
<%- include('../partial/marketsidebars.ejs')%>
<div class="main-container">
		<div class="pd-ltr-20 xs-pd-20-10">
			<div class="min-height-200px">
				
				<!-- Default Basic Forms Start -->
				<div class="pd-20 card-box mb-30">
					<% if(typeof alerts !='undefined'){alerts.forEach(function(error) {%>
							<div class="alert alert-warning alert-dismissible fade show mt-10" role="alert">
							  <strong><%=error.msg%></strong>
							  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
							    <span aria-hidden="true">&times;</span>
							  </button>
							</div>
					<%})}%>
				<form method="post">
					<div class="form-group row">
						<label class="col-sm-12 col-md-2 col-form-label">Full Name</label>
						<div class="col-sm-12 col-md-10">
							<input class="form-control" type="text" name="username" value=""  required>
						</div>
					</div>

					<div class="form-group row">
						<label class="col-sm-12 col-md-2 col-form-label">Email</label>
						<div class="col-sm-12 col-md-10">
							<input class="form-control" name="email" value="" type="email" required>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-12 col-md-2 col-form-label">Telephone</label>
						<div class="col-sm-12 col-md-10">
							<input class="form-control" name="phone" value="" type="tel" required>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-12 col-md-2 col-form-label">Gender</label>
						<div class="col-sm-12 col-md-10">
							<select class="custom-select col-12" name="gender" required>
								<option value="male" selected>MALE</option>
								<option value="female">FEMALE</option>
								<option value="other">OTHERS</option>
							</select>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-12 col-md-2 col-form-label">Status</label>
						<div class="col-sm-12 col-md-10">
							<select class="custom-select col-12" name="status" required>
								<option value="normal" selected>NORMAL</option>
								<option value="Potential">POTENTIAL</option>
							</select>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-12 col-md-2 col-form-label">Type</label>
						<div class="col-sm-12 col-md-10">
							<select class="custom-select col-12" name="type" required>
								<option value="leads" selected>LEADS</option>
								<option value="customer">CUSTOMER</option>
							</select>
						</div>
					</div>
					<input class="btn btn-primary" type="submit" value="Submit">
				</form>
			</div>
		</div>
	</div>
</div>