<!DOCTYPE html>
<html>
<head>
	<title>Delete User</title>
</head>
<body>
	<form method="post">
		<fieldset>
			<legend>Delete User</legend>
			<table>
				<tr>
					<td>Username :</td>
					<td><%=username%></td>
				</tr>
				<tr>
					<td>Password :</td>
					<td><%=password%></td>
				</tr>
				<tr>
					<td>Type :</td>
					<td><%=type%></td>
				</tr>
			</table>
			<div>
				<h3>Are you sure?</h3>
				<input type="submit" name="submit" value="Confirm">
			</div>
		</fieldset>
	</form>
</body>
</html>