
<%- include('../partials/salesAccounting.ejs')%>
<%- include('../partials/navbar.ejs')%>
<%- include('../partials/sidebar_right.ejs')%>
<div class="main-container">
	<h1>Welcome</h1>
	<a href="/user/create">Create New User</a> |
	<a href="/home/userlist">User list</a> |
	<a href="/logout">logout</a>
</div>

	

