<div class="pd-20 card-box mb-30">
	<% if(typeof alerts !='undefined'){alerts.forEach(function(error) {%>
			<div class="alert alert-warning alert-dismissible fade show mt-10" role="alert">
			  <strong><%=error.msg%></strong>
			  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			  </button>
			</div>
	<%})}%>
	<form method="post">
		<fieldset>
			<legend>Create Customer</legend>
			<table>
				<tr>
					<td>Customer Name</td>
					<td><input type="text" name="customerName"></td>
				</tr>
				<tr>
					<td>Contact Number</td>
					<td><input type="text" name="customerContactNumber"></td>
				</tr>
				<tr>
					<td>Address</td>
					<td><input type="text" name="customerAddress"></td>
				</tr>
				<tr>
					<td>Email</td>
					<td><input type="email" name="customerEmail"></td>
				</tr>
				<tr>
					<td>Status</td>
					<td><input type="text" name="customerStatus"></td>
				</tr>
				<tr>
					<td>Genger</td>
					<td><input type="text" name="customerGender"></td>
				</tr>
				<tr>
					<td></td>
					<td><input type="submit" name="submit" value="Create"></td>
				</tr>
			</table>
		</fieldset>
	</form>
</div>